[project]
	description = System Functional Test base lined on 29082017
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SunilS68
[access "refs/for/refs/*"]
	read = group user/SunilS68
	push = group user/SunilS68
	label-Code-Review = -2..+2 group user/SunilS68
	label-Verified = -1..+1 group user/SunilS68
	rebase = group user/SunilS68
	removeReviewer = group user/SunilS68
	submit = group user/SunilS68
[access "refs/heads/*"]
	read = group user/SunilS68
	create = group user/SunilS68
	push = +force group user/SunilS68
	pushMerge = group user/SunilS68
[access "refs/tags/*"]
	push = group user/SunilS68
	push = +force group user/SunilS68
